* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    padding-top: 150px;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px;
}   
